# Server-side (jangan expose ke client!)
SUPABASE_URL="https://uchzbloojqiiteuqtaap.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="sb_publishable_WURJHUiz3dIC7mLNG01rxw_bk2-o4u5"

# Client-side (prefix VITE_ agar bisa diakses di frontend)
VITE_SUPABASE_URL="https://uchzbloojqiiteuqtaap.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_WURJHUiz3dIC7mLNG01rxw_bk2-o4u5"
